html, body{
    height: 100%;
}
body{
    background: url(img/zubayer.jpg);
    background-size: cover;
}
.form-login{
    background: rgba(236, 240, 241, .35);
    border-radius: 10px;
    color: #fff;
    padding: 20px;
    margin: auto;
    max-width: 450px;
    width: 100%
}
